{{#items}}
$s-{{name}}: (
  name: '{{name}}',
  offset-x: {{px.offset_x}},
  offset-y: {{px.offset_y}},
  width: {{px.width}},
  height: {{px.height}},
  total_width: {{px.total_width}},
  total_height: {{px.total_height}},
  image: '{{{image}}}'
);
{{/items}}